/* GENERAL STYLES */

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	background: #EEE;
	text-align: center;
}

body {
	font-size: 1em;
	link-height: 1.5;
	font-family: Lucida Grande, sans-serif;
	max-width: 43.75em;
	margin: 0 auto;
	padding: 0;
	color: #4A4A4A;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
}

/* HEADER STYLES */

header {
	margin: 1em 0 2em;
	color: #196E76;
}

header h1 {
	font-family: 'Pacifico', serif;
	font-size: 3em;
	text-shadow: 0 4px 2px rgba(0, 0, 0, .1);
	margin: 0;
}

header p {
	margin-top: -.625em;
	text-indent: 9em;
	text-shadow: 0 1px 0px rgba(0, 0, 0, .15);
	font-size: .875em;
}


/* BUTTON STYLES */

#button-div {
	margin: 1em;
}

button:hover {
	cursor: pointer;
}

#start-search {
	outline: none;
	text-decoration: none;
  background: #196E76;
  right: 0;
  top: 0;
  line-height: 1.5;
  color: white;
  font-size: 1.25em;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  margin: 0;
  padding: 0 1em;
  font-family: 'Pacifico', serif;
}

#end-search {
	outline: none;
	text-decoration: none;
  background: white;
  right: 0;
  top: 0;
  line-height: 1.5;
  color: #196E76;
  font-size: 1.25em;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  margin: 0;
  padding: 0 1.5em;
  font-family: 'Pacifico', serif;
}

/* IMAGE STYLES */

.img-result {
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	border-radius: 10px;
}


















